body {
    background-color: #111;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: white;
    font-size: 35px;
    font-family: "Roboto";
    font-weight: 800;
    position:relative;    
    left: 0;
}

.avatar {
    display: inline-block;
}

.username {
    color: white;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: 800;
    display: inline-block;
    padding-bottom: 10px;
}

.stats {
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto";
    display: flex;
    box-sizing: border-box;
    bottom: 50px;
    z-index: 15;
    width: 100%;
    height: 49px;
    justify-content: center;
}

.stat {
    display: block;
    float: left;
    font-size: 2.8rem;
    line-height: 2.9rem;
    text-align: center;
    -webkit-box-flex: 1;
    padding-right: 50px;
    font-family: "Roboto";
}

.stat span {
    display: block;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 600;
    font-family: "Roboto";
}

.user-games {
    padding-top: 40px;
}

.game {
    color: #77c3ec;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 900; 
    text-align: left;
}

.progress {
    height: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

.playtime {
    color: #56707f;
    font-family: "Roboto";
    font-size: 16px;
}

.progress-bar {
    height: 20px;
    width: 126px;
    background: #444;
    position: relative;
}

.progress-bar span {
    color: #f9f9f9;
    font-family: "Roboto";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 15px;
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.progress-bar div.bar {
    height: 20px;
    background: #4CAF50;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6rem;
  }
  
footer a {
    color:white;
}

.disclaimer {
    color: white;
    line-height: 16px;
    position: relative;
    bottom: 0;
    text-align: left;
    float: left;
}

.links {
    color: white;
    position: relative;
    float: right;
    padding-top: 10px;
}

bullet {
    padding: 0 1px;
    font-size: 1.7rem;
    vertical-align: -5px;
    line-height: 0;
    color: #a2a4a5;
}
