body {
    background-color: #111;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
  }

h1 {
    color: white;
    font-size: 35px;
    font-weight: 800;
  }

h2 {
  color: white;
}

.user-search {
  position: relative;
}


#error {
  color: red;
  font-size: 15;
  font-weight: 800;
}

#gamertag {
  height: 30px;
  width: 350px;
  text-align: center;
  border-radius:5px;
  border-color: white;
}

#gamertag:focus:invalid {
  border: 2px red;
}

#submit {
  background: #4CAF50;
  border-radius:5px;
  border-color: green;
  color: white;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.9rem;
  text-align: center;
  width: 140px;
}

footer {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6rem;
}

footer a {
  color:white;
}

.disclaimer {
  color: white;
  line-height: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: left;
}

.links {
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
}

bullet {
  padding: 0 1px;
  font-size: 1.7rem;
  vertical-align: -5px;
  line-height: 0;
  color: #a2a4a5;
}


/*Spinner Styles*/
.lds-dual-ring {
  /* position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  top: 520px;
  left: -20px; */
  padding-top: 20%;
  padding-right: 7%;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 5% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/*Hidden class for adding and removing*/
.lds-dual-ring.hidden {
    display: none;
}

/*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
}